.container {
  position: absolute;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  min-height: 100vh;
  padding: 120px 80px;
  overflow-x: hidden;
  overflow-y: auto;

  @media (max-width: 930px) {
    padding: 80px 24px;
  }

  @media (max-width: 860px) {
    position: relative;
    background: #050505;
    min-height: auto;
    width: 100%;
    padding-top: 120px;
  }

  h1 {
    font-size: 82px;
    font-weight: 800;
    text-transform: uppercase;
    color: #1369ca;
    line-height: 1;

    @media (max-width: 860px) {
      font-size: 14vw;
    }
    @media (max-width: 630px) {
      font-size: 13vw;
    }
  }

  h2 {
    font-size: 118px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ecd900;
    line-height: 1;
    margin-top: -30px;

    @media (max-width: 860px) {
      font-size: 20vw;
      margin-top: -5vw;
    }
    @media (max-width: 630px) {
      font-size: 18.5vw;
    }
  }

  p {
    max-width: 494px;
    font-weight: 300;
    line-height: 1.2;
    text-align: justify;

    @media (max-width: 860px) {
      width: 77vw;
    }
  }
}

.btn-container {
  margin-top: 24px;

  a {
    text-transform: uppercase;
    padding: 16px 48px;
    font-size: 18px;
    border-radius: 8px;
    background: #1369ca;
    display: inline-block;
    transition: 0.15s background;

    &:hover {
      background: #ded13a;
    }
  }
}
